---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
---
<Layout title="Cebicheria Rosita - Ceviches" >

<div class="container mx-auto px-4 py-4">
  <h1 class="font-wellowtail text-4xl text-indigo-600">Ceviches</h1>
  <h2 class="text-gray-800 font-roboto border-b">Receta elaborada con mariscos o pescado crudo marinado en limón, cebolla, sal y ají. Fue declarado Patrimonio Cultural de la Nación, al ser considerado uno de los principales platos de nuestro país.</h2>

  <div class="grid grid-cols-1 lg:grid-cols-3 xl:grid-cols-3 2xl:grid-cols-3 gap-6">
    
    <Card title="Ceviche Afrodisiaco" imagen="/Ceviche-Afrodisiaco-min.jpg" description="Exquisita mezcla entre Pulpo, Calamar, Langostinos, Conchas negras y Cangrejos" />

    <Card title="Ceviche Clásico" imagen="/Ceviche-Clasico-min.jpg" description="Degustación de los dos ceviches más solicitados en nuestra carta, Conchas Negras y Pescado presentado en un plato acompañado de choclo tierno y camote glaseado." />

    <Card title="Ceviche de Conchas Negras" imagen="/Ceviche-conchas-nechas1-min.jpg" description="El ceviche de conchas negras es un plato de sabor muy intenso, típico de la ciudad de Tumbes y que tiene la fama de ser un potente afrodisíaco." />

    <Card title="Ceviche de Lenguado" imagen="/Ceviche-de-Lenguado-min.jpg" description="El mejor pescado por excelencia, de carne blanca y firme, consistente y sabor delicado. Una de las maravillas de nuestras costas de Lurín." />

    <Card title="Ceviche de Pescado" imagen="/Ceviche-de-pescado1-min.jpg" description=" Es el indiscutible plato emblemático de nuestro país, cubos de pescado marinado con sal, limón, ají y culantro, se acompaña con choclo, camote y yuyo." />

    <Card title="Ceviche Mixto" imagen="/Ceviche-Mixto-min.jpg" description="La variante más popular del ceviche,  pescado, pulpo, langostinos, calamar, cangrejo y una concha de abanico. Un inigualable sabor marino." />

    <Card title="Tiradito" imagen="/Tiradito2-min.jpg" description="Trozos de pescado macerados con limón, sal y luego cubiertos con crema de ají amarillo. Una verdadera experiencia al paladar entre textura y contraste de de sabores." />

    <Card title="Tiradito Mi Perú" imagen="/Tiradito2-min.jpg" description="Pescado fresco cortado en finos trozos tipo sashimi, cocinado en zumo de limón, es presentado mitad natural y mitad crema de rocoto." />

    <Card title="Tiradito 3 Colores" imagen="/Tiradito-3-colores-min.jpg" description="Tres variedades de cremas: rocoto, natural y ají amarillo sobre finos trozos de pescado fresco." />

    <Card title="Trilogía de Ceviches" imagen="/Tiradito-3-colores-min.jpg" description="Tres de nuestros mejores ceviches reunidos en un solo plato: pescado, conchas negras y mariscos. El verdadero manjar marino." />

  </div>
</div>

</Layout>