---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
---
<Layout title="Cebicheria Rosita - Promociones" >
<!-- <div class="grid grid-cols-1 lg:grid-cols-3 xl:grid-cols-3 2xl:grid-cols-3 gap-6"> -->
<div class="container px-4 sm:w-[100%] lg:w-[100%] xl:w-[100%] 2xl:w-[100%] mx-auto py-4">
  <h1 class="font-wellowtail text-4xl text-indigo-600 border-b">Promociones</h1>

  <div class="flex flex-col gap-6">
    
    <img src="/promociones1-min.jpg" class="rounded-md shadow-md border-2 border-gray-100" />
    <img src="/madres-min.jpg" class="rounded-md shadow-md border-2 border-gray-100" />
    <img src="/dia-del-padre-min.jpg" class="rounded-md shadow-md border-2 border-gray-100" />
    <img src="/banner-min.jpg" class="rounded-md shadow-md border-2 border-gray-100" />

  </div>
</div>

</Layout>