---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
---
<Layout title="Cebicheria Rosita - Recomendados" >

<div class="container mx-auto px-4 py-4">
  <h1 class="font-wellowtail text-4xl text-indigo-600">Recomendados</h1>
  <h2 class="text-gray-800 font-roboto border-b">Las recetas secretas de Rosita, elaboradas con la máxima delicadeza y técnica para extraer lo mejor de nuestros ingredientes. Escoja alguno de estos platillos y deje que los sabores seduzcan su paladar!</h2>

  <div class="grid grid-cols-1 lg:grid-cols-3 xl:grid-cols-3 2xl:grid-cols-3 gap-6">
    
    <Card title="Chita a lo Macho" imagen="/Chita-al-ajo1-min.jpg" description="Deliciosa chita frita bañada en nuestra salsa a lo macho (Especialidad de Rosita)." />
    <Card title="Chita al Ajo" imagen="/Chita-al-ajo1-min.jpg" description="Deliciosa chita frita cubierta de una salsa especial con finas hojuelas de ajo, acompañado del tradicional arroz blanco." />
    <Card title="Chita al Vapor" imagen="/chita-al-vapor-min.jpg" description="Chita entera cocida en fondo de pescado con verduras guardan el sabor y los aromas originales del pescado fresco, acompáñalo con arroz blanco." />
    <Card title="Chita Frita" imagen="/Chita-Frita-min.jpg" description="La chita es uno de los pescados preferidos por la gran cantidad de carne que posee, sazonada solo con sal es perfecta para acompañar con arroz, yuca y zarza criolla." />
    <Card title="Filete de Pescado a la Chorillana" imagen="/chorrillana-min.jpg" description="Filete de Pescado empanizado, sobre él un salteado de vegetales y aderezo a base de ají amarillo, decorado con huevo de codorniz y aceituna." />
    <Card title="Filete de pescado a la Menier" imagen="/Pescado-a-la-menier-min.jpg" description="Filetes de pescado sellados al grill y bañados con salsa especial de la casa, acompañado de arroz blanco y papa huamantanga" />
    <Card title="Filete de Pescado a la Parrilla" imagen="/Filete-de-pescado-a-la-Parrilla-min.jpg" description="Filete Ojo de Uva sellado al grill y aderezado con chimichurri, acompáñalo con ensalada de palta, choclo y papas doradas." />
    <Card title="Filete de Pescado a lo Macho" imagen="/filete-a-lo-macho-min.jpg" description="Delicioso Filete de Pescado bañado de una salsa a base de vino blanco y frutos del mar (Especialidad de la casa)" />
    <Card title="Lenguado a lo Macho" imagen="/Lenguado-a-lo-macho-min.jpg" description="Lenguado frito bañado en una salsa semi picante a base de vino blanco y mariscos, acompañado de arroz blanco y papa huamantanga." />
    <Card title="Lenguado al Ajo" imagen="/lenguado-al-ajo-min.jpg" description="Lenguado entero frito bañado en una fina salsa a base de vino blanco y sobre ella hojuelas crocantes de ajo." />
    <Card title="Milanesa de Pollo" imagen="/Milanesa-de-Pollo1-min.jpg" description="Deliciosa milanesa apanada acompañada de vegetales al vapor, papas fritas y una porción de arroz blanco." />
    <Card title="Pescado Apanado" imagen="/Pescado-apanado1-min.jpg" description="Delicioso Filete de pescado fresco crocante, yuca frita, ensalada fresca y arroz blanco." />
    <Card title="Picante de Langostinos" imagen="/Picante-de-Langostinos-min.jpg" description="El langostino es uno de los mariscos más populares y solicitados dentro de los productos marinos. Su textura es suave y de sabor neutro que combina perfectamente con la salsa picante." />
    <Card title="Picante de Mariscos" imagen="/Picante-de-Mariscos-min.jpg" description="Surtido de mariscos cocidos en una salsa a base de ajíes, aromatizado con hiervas y acompañado de arroz y papa huamantanga." />


  </div>
</div>

</Layout>