---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
---
<Layout title="Cebicheria Rosita - Sudados" >

<div class="container mx-auto px-4 py-4">
  <h1 class="font-wellowtail text-4xl text-indigo-600">Sudados</h1>
  <h2 class="text-gray-800 font-roboto border-b">Delicioso sudados con combinación de variados ingredientes.</h2>

  <div class="grid grid-cols-1 lg:grid-cols-3 xl:grid-cols-3 2xl:grid-cols-3 gap-6">
    
    <Card title="Sudado 2 Pescados" imagen="/Sudado-2-pescados-min.jpg" description="Espectacular combinación de sabores mezclados en un solo plato, los peces varían según la pesca del día, ideal para compartir." />
    <Card title="Sudado de Chita" imagen="/Sudado-Chita1-min.jpg" description="Pez de peña, se encuentra mayormente en las barrancas y en las piedras. Este pescado es muy conocido no por la textura de su piel y por su increible sabor." />
    <Card title="Sudado de Filetes" imagen="/Sudado-de-filetes-min.jpg" description="Filetes de pescado Ojo de Uva cocido bajo la receta tradicional del sudado, acompañado de yuca, cangrejo y una porción de arroz blanco." />
    <Card title="Sudado de Lenguado" imagen="/Sudado-Lenguado-min.jpg" description="El Lenguado es el pes preferido entro de la cocina peruana, es de carne blanca, tiene menos grasa y su textura es consistente, puede comerse en sopas, frito, incluso al vapor." />
    <Card title="Sudado de Tramboyo" imagen="/Sudado-de-Tramboyo-min.jpg" description="Tramboyo  en caldo de pescado alto en proteínas, nutrientes, calcio, hierro y vitaminas y  cero en colesterol. Esta delicia es una alternativa en el arte gastronómico de Perú." />



  </div>
</div>

</Layout>